asciinema
configstore
gtk-2.0
yarn
fish
neofetch
nitrogen
pulse
terminology
xfce4
google-chrome
Stop
Code - OSS/Backups
Code - OSS/CachedData
Code - OSS/CachedExtensions
Code - OSS/Code Cache
Code - OSS/GPUCache
Code - OSS/logs
Code - OSS/languagepacks.json
Code - OSS/machineid
Code - OSS/Network Persistent State
Code - OSS/rapid_render.json
Code - OSS/Session Storage
Code - OSS/storage.json
Code - OSS/User/globalStorage
Code - OSS/User/workspaceStorage
mimeapps.list
nautilus
sublime-text-3
dask
gh
tensorboard
wandb
