#!/bin/zsh

# directory navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# some shortcuts
alias la="ls -A"
alias ll="ls -Al"
alias c="clear"
alias rem="rm -rf"
alias guan="deactivate"

# npm script shortcuts
alias y="yarn"
alias yt="yarn test"
alias yb="yarn build"
alias yd="yarn dev"
alias ys="yarn serve"
alias yde="yarn dev-example"
alias ybe="yarn build-example"

# apt shortcuts (Debian / Ubuntu)
alias ai="sudo apt install"
alias arm="sudo apt remove"
alias ap="sudo apt purge"
alias aud="sudo apt update"
alias aug="sudo apt upgrade"
alias aarm="sudo apt autoremove"
alias afug="sudo apt full-upgrade"
alias as="sudo apt search"
alias ash="sudo apt show"

# dnf shortcuts (Fedora)
alias di="sudo dnf install"
alias drm="sudo dnf remove"
alias dcu="sudo dnf check-update"
alias ddg="sudo dnf downgrade"
alias dug="sudo dnf upgrade"
alias darm="sudo dnf autoremove"
alias dif="sudo dnf info"
alias dri="sudo dnf reinstall"

# git shortcuts
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gb="git branch"
alias gd="git diff"
alias gcl="git clone"
alias gco="git checkout"
alias gp="git push"
alias gl="git pull"
alias gt="git tag"
alias gm="git merge"

# SSG shortcuts
alias vpd="vuepress dev docs"
alias blog="cd ~/Personal/zenx && subl . && yarn dev"

# npm global shortcuts
alias ygl="yarn global list"
alias npl="npm list -g"

# python shortcuts
alias py="python3"
alias f8="flake8"
alias pt="pytest"
alias pi="pip3 install"
alias ps="python3 setup.py"
alias psd="python3 setup.py develop"

# contributions
alias ptl="cd ~/PL-venv/pytorch-lightning"






